node_modules
next-env.d.ts
.next/app-build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/client-reference-manifest.js
.next/server/client-reference-manifest.json
.next/server/flight-server-css-manifest.js
.next/server/flight-server-css-manifest.json
.next/server/webpack-runtime.js
.next/static/chunks/main-app.js
.next/static/chunks/main.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/webpack/1b4f3196627b96d1.webpack.hot-update.json
.next/static/webpack/784730c9748b1589.webpack.hot-update.json
.next/static/webpack/amp.1b4f3196627b96d1.hot-update.js
.next/static/webpack/amp.784730c9748b1589.hot-update.js
.next/static/webpack/main.1b4f3196627b96d1.hot-update.js
.next/static/webpack/main.784730c9748b1589.hot-update.js
.next/static/webpack/webpack.1b4f3196627b96d1.hot-update.js
.next/static/webpack/webpack.784730c9748b1589.hot-update.js
next-env.d.ts
.next/app-build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/client-reference-manifest.js
.next/server/client-reference-manifest.json
.next/server/flight-server-css-manifest.js
.next/server/flight-server-css-manifest.json
.next/server/webpack-runtime.js
.next/static/chunks/main-app.js
.next/static/chunks/main.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/webpack/784730c9748b1589.webpack.hot-update.json
.next/static/webpack/amp.784730c9748b1589.hot-update.js
.next/static/webpack/main.784730c9748b1589.hot-update.js
.next/static/webpack/webpack.784730c9748b1589.hot-update.js
