@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


body{
    overflow-x: hidden;
    background-color: rgb(42, 48, 54);
    margin: 0px;
    font-family: 'Nunito Sans', Arial, sans-serif, serif;
}

.text{
    color: white;
}

#firstSectionBG{
    background:linear-gradient(90deg, rgb(97, 23, 235), rgb(234, 24, 87));
}

#firstSection{
    background:linear-gradient(0deg, rgba(0, 201, 151, 0.65), rgba(219, 219, 219, 0.35));
}

nav{
    z-index: 1;
    display: flex;
    height: 80pt;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    position: absolute;
}

#navContents{
    width: 65vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navLinks{
    display: flex;
    justify-content: space-between;
    width: 300pt;
}

.link {
    position: relative;
    color: white;
    font-size: large;
    text-decoration: none;
    display: inline-block;
    transition: ease-in-out .25s;
    overflow: hidden;
}

.link::after {
    content: '';
    position: absolute;
    background-color: rgb(0, 213, 255);
    transition: ease-in-out .25s;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 0.1em;
}

.link:hover{
    color: rgb(0, 213, 255);
}

.link:hover::after{
    left: 0;
    width: 100%;
}

.section{
    display: flex;
    justify-content: center;
    padding: 180pt;
    padding-top: 200pt;
}

.section > div > p {
    padding-top: 10pt;
    font-size: 20pt;
    text-align: center;
}
